.logo {
    float: left;
    width: 240px;
    height: 31px;
    margin-right: 24px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.rightCol {
    text-align: right;
}

.avatar {
    margin-right: 16px;
}