$color-1: #2E8BC0;
$color-2: #B1D4E0;
$color-3: #0C2D48;
$color-4: #145DA0;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px; 

$sm-min: $sm - 1;
$md-min: $md - 1;
$lg-min: $lg - 1;
$xl-min: $xl - 1; 